<div>
  <strong><%= listing.mls_number %></strong>
  <br />
  <center><%= image_tag listing.cover_photo.url(:thumb) %></center>
  <br/>
  <%= number_to_currency(listing.list_price) %>
  <% if listing.list_price_change_amount %>
  <span class="<%= price_change_color(listing.list_price_change_amount) %>"> <%= listing.list_price_change_amount %></span>
  <% end %>
  <br/>
  <%= listing.address %>
  <br />
  <%= link_to "Details", listing_path(listing.mls_number), :target => "_blank" %>
  <% if listing.navica_url  %>
    | <%= link_to "Navica", listing.navica_url, :target => "_blank" %>
  <% end %>
  <% if listing.zillow_url %>
    | <%= link_to "Zillow", listing.zillow_url, :target => "_blank" %>
  <% end %>
</div>
