<div>
  <strong><%= listing.mls_number %></strong><br />
  <img height='165' width='220' src='<%= listing.picture_url %>'></img>
  <br/>
  <%= number_to_currency(listing.list_price) %>
  <br/>
  <%= listing.address %>
  <br />
  <%= link_to "Details", listing_path(listing.mls_number), :target => "_blank" %>
  <% if listing.navica_url  %>
    | <%= link_to "Navica", listing.navica_url, :target => "_blank" %>
  <% end %>
  <% if listing.zillow_url %>
    | <%= link_to "Zillow", listing.zillow_url, :target => "_blank" %>
  <% end %>
</div>
