<div class="map-container">
  <div class="map-canvas" id="sidebar_builder"></div>
</div>
<br/>
<%= form_tag(controller: "listings", action: "create") do %>
  <%= label_tag(:navicamls_url, "Add more homes from a NavicaMLS URL") %>
  <%= text_field_tag(:navicamls_url) %>
  <%= submit_tag("Add Homes") %>
<% end %>

<div class="map-container" id='sidebar_container'>
  <h1>Houses</h1>
</div>


<script>
  function createSidebarLi(json){
    return ("<li><a>" + json.marker_title + "</a></li>");
  };

  function bindLiToMarker($li, marker){
    $li.on('click', function(){
      handler.getMap().setZoom(14);
      marker.setMap(handler.getMap()); //because clusterer removes map property from marker
      marker.panTo();
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
  };

  function createSidebar(json_array){
    _.each(json_array, function(json){
      var $li = $( createSidebarLi(json) );
      $li.appendTo('#sidebar_container');
      bindLiToMarker($li, json.marker);
    });
  };

  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
    var json_array = <%= raw @listings_map_hash.to_json %>;

    console.log(json_array)

    var markers = handler.addMarkers(json_array);

    _.each(json_array, function(json, index){
      json.marker = markers[index];
    });

    createSidebar(json_array);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
